*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-size: 125%; 
}

h2 {
  text-align: center;
  text-transform: uppercase; 
  font-size: 3rem; 
  color: rgb(0, 0, 0);
  font-family: 'Cagliostro', sans-serif; 
  border-radius: 15px 15px 0 0; 
  border-bottom: 8px solid rgb(29, 28, 28); 
}

p { 
  color: white; 
  font-size: 1.5rem;
  padding: 2rem; 
  font-family: 'Lato', sans-serif;
}

.App {
  position: relative; 
}

/* header styling */

header {
  background-image: url(./header-image.jpg); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 70vh; 
  position: relative; 
}

.header-banner {
  display: flex;
  flex-direction: row; 
  background-color: rgb(159, 137, 180);
  border-radius: 15px; 
  width: 60%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  margin-bottom: 3rem; 
}

.logo {
  height: 8rem; 
  margin: 0 auto;   
}

h1 {
  font-size: 5rem;  
  color: #2c3e50; 
  font-family: 'Cagliostro', sans-serif; 
  text-transform: uppercase;
  margin: auto; 
}

/* end of header */

main {
  background-color: rgb(29, 28, 28);  
  padding-top: 4rem; 
  padding-bottom: 4rem; 
}

.about {
  width: 70%; 
  background-color: rgb(44, 43, 43); 
  border-radius: 15px;
  margin: auto; 
}

.about h2 {
  background-color: rgb(122, 236, 211); 
}

/* input styling */
.form {
  background-color:rgb(44, 43, 43); 
  width: 70vw; 
  margin: 0 auto;  
  border-radius: 15px;
  color: white; 
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.form h2 {
  background-color:rgb(233, 115, 203); 
 
}

label {
  display: flex; 
  justify-content: center;
}

.form button {
  display: flex; 
  justify-content: center;
  align-content: center;
  margin: 0 auto; 
}

input {
  width: 70%; 
  margin: 0 auto; 
  font-size: 1.5rem;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-content: center;

}

input:hover, 
input:focus {
  -webkit-appearance: none;
  outline: none; 
  border-bottom: 4px solid rgb(233, 115, 203); 
}

/* returned list styling  */
.list {
  width: 70vw; 
  margin: 0 auto; 
  margin-bottom: 5rem; 
  
}

.list h2 {
  background-color: rgb(100, 177, 190); 
}

ul {
  background-color:rgb(44, 43, 43);
  border-radius: 15px; 
  list-style-type: none;
  text-transform: capitalize; 
}

li {
  border-bottom: 4px dashed rgb(29, 28, 28); 
}

.list p {
  text-align: center; 
  font-size: 2.5rem; 
}

.list-buttons {
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap; 
}

button, 
.btn-open-modal {
  background-color: rgb(157, 136, 178); 
  color: rgb(44, 62, 80); 
  font-size: 1.5rem; 
  padding: .5rem 1.8rem; 
  border: none; 
  outline: none; 
  cursor: pointer;
  height: auto;  
  align-items: center;
  margin: 1rem auto;
}

button:hover {
  background-color: rgb(122, 103, 141);
}

/* MODAL STYLING */

.modal-wrapper {
  background-color:rgb(159, 137, 180);  
  color: white; 
  width: 80%; 
  /* max-width: 800px;  */
  margin: 4rem auto; 
  transition: all .5s ease; 
  text-transform: none;
}

.modal-header {
  color: #e9e9e9; 
  padding: 1rem; 
}

.modal-header span {
  font-size: 1.5rem; 
  cursor: pointer; 
}

.modal-header span:hover,
.modal-header span:focus {
  color:rgb(29, 28, 28); 
}

.modal-header span:active {
  font-weight: bold; 
}

.modal-content {
  padding: 1.5rem 1rem; 
}

.modal-body {
  margin-bottom: 1rem; 
}

.modal-body p {
  font-size: 2rem; 
  background-color:rgb(44, 43, 43);
  color: #eee; 
  padding: 1rem; 
  margin: 1rem 0 2rem; 

}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form textarea {
  resize: none; 
  width: 90%;
  height: 40%;  
}

.modal-form textarea:hover,
.modal-form textarea:focus {
-webkit-appearance: none;
outline: none; 
border-bottom: 4px solid rgb(29, 28, 28); 
}

.modal-form textarea:active {
  border: 4px solid rgb(44, 43, 43); 
}

.submittedComment {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap; 
}

.modal-form button,
.modal-footer button {
  font-size: 1.5rem; 
  margin: 2rem; 
  padding: .5rem 1.8rem; 
  border: none; 
  outline: none; 
  cursor: pointer; 
}

.modal-form button {
  background: #2c2c2c; 
  color: #eee;
}

.modal-form button:hover, 
.modal-form button:focus {
  background-color:rgb(0, 0, 0);
}

.modal-footer button {
  background: rgb(100, 177, 190); 
  color: rgb(0, 0, 0); 
}

.modal-footer button:hover,
.modal-footer button:focus {
  background-color: rgb(68, 120, 129);
}

/* end of modal styling */

footer {
  background-color:rgb(148, 113, 182);
  position: absolute; 
  width: 100%; 
  bottom: 0; 
}

footer p {
  font-size: 2rem; 
  text-align: center; 
  margin: 0; 
}
/* MEDIA QUERIES */

@media (max-width: 950px) {
  .header-banner {
    flex-direction: column-reverse; 
  }
}

@media (max-width: 803px) {
  .list button {
    margin-top: 2rem;
  }
}

@media (max-width: 715px) {
  h1 {
    font-size: 4rem; 
  }

  h2 {
    font-size: 2.5rem; 
  }
}

@media (max-width: 570px) {
  h1 {
    font-size: 3rem; 
  }
}